.contacto{ display: flex;
	       flex-direction:column;
           h4{
              font-family: map-get($style-title,letra);
		      font-size: map-get($style-title,Sfont);
           }
       }

.contacto--{display:flex;
flex-direction:row;
justify-content: space-evenly;
align-items: center ;
@include fonts(arial,20px,none);
form{ border: solid black; text-align: center; align-self:center;}

}       
@media only screen and (max-width:768px){
	.contacto{ h4{ @include fonts(arial,20px,center);}
    
                 }

	.contacto--{
		@include fonts(arial,13px,center);
		flex-direction:column;
	}
}