.nosotros{
	display: flex;
	flex-direction:column;
	h4{ font-family:map-get($style-title,letra);
        font-size: map-get($style-title,Sfont);
	}
}
.nosotros--{
    @extend .nosotros;
            flex-direction:row;
            img{ width: 50%;}
            p{width: 50%; 
             @include fonts(arial,20px,center);
            }
}
@media only screen and (max-width:768px){
  .nosotros{ h4{ width: 100%; @include fonts(arial,20px,center); }}
    .nosotros--{ 
      flex-direction:column;
      img{width: 100%;}
      p{width:100%; @include fonts(arial,15px,center); margin:1px;}
    }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .nosotros--{
            img{ width: 50%;}
            p{width: 50%;} 
        
        }
}