.gridproducto{
	display:grid;
	grid-template-areas: 
    "title1 title1 title1"
    "title2 title2 title2"
    "img1 img2 img3"
    "title3 title3 title3"
    "img4 img5 img6"
	;
	grid-template-columns:33% 33% 33%;
	grid-template-rows:auto auto auto auto auto;
}
.title1{grid-area: title1; font-family:map-get($style-title,letra); font-size: map-get($style-title,Sfont);}
.title2{grid-area:title2; @include fonts(arial,22px,center);}
.img1{grid-area:img1;}
.img2{grid-area:img2;}
.img3{grid-area:img3;}
.title3{grid-area:title3; @include fonts(arial,22px,center); }
.img4{grid-area:img4;}
.img5{grid-area:img5;}
.img6{grid-area:img6;}
@media only screen and (max-width:768px){
	.gridproducto{
	display:grid;
	grid-template-areas: 
    "title1"
    "title2"
    "img1"
    "img2"
    "img3"
    "title3"
    "img4"
    "img5"
    "img6"
	;
	grid-template-columns:100%;
	grid-template-rows:auto auto auto auto auto auto auto auto auto;
}
.title1{grid-area: title1; @include fonts(arial,20px,center);}
.title2{grid-area:title2; @include fonts(arial,15px,center);}
.img1{grid-area:img1;}
.img2{grid-area:img2;}
.img3{grid-area:img3;}
.title3{grid-area:title3; @include fonts(arial,15px,center); }
.img4{grid-area:img4;}
.img5{grid-area:img5;}
.img6{grid-area:img6;}
.img1 img,.img2 img,.img3 img,.img4 img,.img5 img,.img6 img{ width:100%; margin:1px;}
}
