.venta{
	display:flex;
	flex-direction:column;
	h4{ font-family: map-get($style-title,letra);
		font-size: map-get($style-title,Sfont);
	}
	iframe{ width: 100%;}
	p{
		@include fonts(arial,20px,none);
	}
}
@media only screen and (max-width:768px){
	.venta{
		h4{ @include fonts(arial,20px,center);}
		iframe{width: 95%;}
		p{width: 100%; @include fonts(arial,15px,center);}
	}
}
