.venta{
	display:flex;
	flex-direction:column;
	h4{ font-family: map-get($style-title,letra);
		font-size: map-get($style-title,Sfont);
	}
	iframe{ width: 100%;}
	p{
		@include fonts(arial,20px,none);
	}
}
